.photosBox {
  display: flex;
}
.photoControl {
  display: flex;
  flex-direction: column;

  margin-top: 5px;

  align-items: start;
}
.button {
  align-items: center;
  width: 100%;
  height: 20px;
  display: flex;
  margin: unset;
  padding: unset;
  background: unset;
  border: unset;
  color: unset;
  font-size: unset;
  vertical-align: unset;
  border-radius: unset;
  text-align: unset;
  cursor: pointer;
}
.onePhotoBox {
  margin-left: 15px;
  margin-right: 15px;
  /* display: flex;
  flex-direction: column; */
  align-items: center;
}
.buttonBox {
  display: flex;
}
