.previewStyle {
  width: 70%;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.035), 0 4px 25px rgba(0, 0, 0, 0.07);
  border-radius: 6px;
  padding: 20px;
  position: relative;
}
.header {
  cursor: pointer;
  word-wrap: break-word;
  margin-bottom: 14px;
  font-size: 30px;
  font-weight: 700;
  line-height: 1.15;
}
.imageContainer {
  overflow: hidden;
  border-radius: 6px;
}

.imagePreviewContainer {
  max-width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.previewBottom {
  align-items: center;
  margin-top: 15px;
  display: flex;
}
.previewBottomLeft {
  flex-shrink: 0;
  min-width: 0;
  margin-right: auto;
  display: flex;
}
.previewBottomRight {
  min-width: 0;
  margin-left: 20px;
}
.previewBottomLeftInfo {
  display: flex;
}
.previewBottomInfo {
  display: flex;
  align-items: center;
}
.previewBottomInfoAvatar {
  margin-right: 10px;
}
.previewBottomRight .previewBottomInfo span {
  margin-right: 10px;
}
.previewBottomInfoAvatar img {
  max-height: 30px;
}
